:root {
  --blue-40-a30: rgba(69, 161, 255, .3);
}

.focus-light { 
  box-shadow: 0 0 0 1px var(--blue-50) inset, 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

.focus-light-input {
  box-shadow: 0 0 0 1px var(--blue-50) inset, 0 0 0 4px var(--blue-50-a30);
  border-color: var(--blue-50);
}

.focus-dark {
  box-shadow: 0 0 0 1px var(--blue-40) inset, 0 0 0 1px var(--blue-40), 0 0 0 4px var(--blue-40-a30);
}

.shadow-30 {
  box-shadow: 0 5px 10px 0 var(--grey-90-a30);
}

::-moz-placeholder {
  color: var(--grey-50);
  opacity: 1;
}

span[data-contrast] {
  display: inline-block;
  font-size: small;
  margin: .5rem 0;
}

span[data-contrast]:before,
span[data-contrast]:after {
  border-radius: 2px;
  border: 1px solid transparent;
  font-weight: 700;
  margin: 0 4px;
  padding: 2px;
}

span[data-todo="⚠️"]:after {
  background-color: var(--white-100);
  border: 1px solid var(--grey-90-a10);
  content: attr(data-todo);
}

span[data-contrast="Text:AA"]:before {
  background-color: var(--red-50);
  color: var(--white-100);
  content: attr(data-contrast);
}

span[data-contrast="Text:AA+"]:before {
  background-color: var(--yellow-50);
  color: var(--yellow-90);
  content: attr(data-contrast);
}

span[data-contrast="Text:AAA"]:before {
  background-color: var(--green-50);
  color: var(--green-90);
  content: attr(data-contrast);
}

span[data-contrast="Text:Fails"]:before {
  background-color: var(--grey-90);
  color: var(--white-100);
  content: attr(data-contrast);
}

span[data-contrast="UI:AA"]:before {
  background-color: var(--red-50);
  color: var(--white-100);
  content: attr(data-contrast);
}

span[data-contrast="UI:AAA"]:before {
  background-color: var(--green-50);
  color: var(--green-90);
  content: attr(data-contrast);
}

span[data-contrast="UI:Fails"]:before {
  background-color: var(--grey-90);
  color: var(--white-100);
  content: attr(data-contrast);
}

.checkbox {
  background-image: url("icons/check-16.svg");
  background-size: 16px;
}

.radio {
  background-image: url("icons/radio-16.svg");
  background-size: 16px;
}